* {
    margin: 0px;
    padding: 0px;
}
textarea {
    resize: none;
}
html, body {
    height: 100%;
}
#root {
    height: 100%;
}
@font-face {
    font-family: Rocket;
    src:url(./fonts/ROCKET_WILDNESS.ttf)
}
@font-face {
    font-family: Amalfi;
    src: url(./fonts/Amalfi_Coast.ttf)
}
@font-face {
    font-family: SocialIcons;
    src: url(./fonts/socialMedia.ttf)
}
@font-face {
    font-family: Signature;
    src: url(./fonts/Photograph_Signature.ttf)
}
@font-face {
    font-family: Learning-Curve;
    src: url(./fonts/LearningCurve.ttf)
}
body {
    background-color: black;
}



/* ========================= */
/* ========================= */
/* ========================= */
/* ===========Home========== */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */






/* home / Main.js */
.home {
    display: flex;
    flex-direction: column;
}
/* catch all inner photos */
.home > * {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 10px 2px black;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin-bottom: 1px;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.24, 0.51, 0.38, 1.51);
}
.home > *:last-child {
    margin-bottom: 0px;
}
/* links */
.home > * > div {
    display: flex;
    flex-direction: column;
    
    color: yellow;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 2px 2px black;

    font-family: Rocket;
    line-height: 40px;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 40px;
}
/* each sections photos */
.home > section {
    background-image: url("./images/Get-Best-Website-Development.jpg");
}
.home > main {
    background-image: url("./images/IMG_6441.jpg");
}
.home > article {
    background-image: url("./images/IMG_1266.jpg");
}
.expanded {
    height: 300px;
}






/* ========================= */
/* ========================= */
/* ========================= */
/* ===========Home========== */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */




/* ========================= */
/* ========================= */
/* ========================= */
/* =========Contact========= */
/* ========================= */
/* ========================= */
/* ========================= */



.contact {
    background-size: cover;
    background-position: center 100%;
    background-color: white;
}







.contactSection {
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contactSection > img {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.contactSection > h1 {
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 1.25px;
    line-height: 40px;
    border-bottom: 1px solid greenyellow;
}
.contactSection > ul {
    margin-top: 25px;
    padding-left: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.contactSection > ul > li {
    padding-bottom: 25px;
}
.contactSection > ul > li:last-child {
    padding-bottom: 0px;
}





.webForm {
    background-image: url(./images/ink-texture-background-14.jpg);
    background-size: cover;
    background-position: center 100%;

    padding: 25px;

}
.webForm > h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 45px;
    text-align: center;
}
.webForm > * {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.webForm > *:last-child {
    margin-bottom: 0px;
}
.webForm > input {
    width: 99%;

    background-color: transparent;
    border: 0px; 
    border-bottom: 1px solid greenyellow;

    font-size: 26px;
    text-indent: 3px;
}
.webForm > textarea {
    width: 99%;
    height: 175px;

    border: 1px solid black;

    font-size: 24px;
    text-indent: 3px;
}
.webForm > button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 0px;
    background-color: rgb(0, 238, 255);

    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.webForm > button > span {
    display: flex;
    align-items: center;
    font-size: 29px;
    line-height: 32px;
}
.webForm > button > span > span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    padding-left: 10px;
}






.customToast {
    display: flex;
    align-items: center;
    
    width: 275px;
    height: 55px;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 2px 1px 4px 1px black;
}
.customToast > h1 {
    flex: 7;
    display: flex;
    align-items: center;

    background-color: rgb(223, 223, 223);
    height: 100%;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    padding-left: 20px;
    font-size: 23px;
    font-weight: 100;
}
.customToast > span {
    display: flex;
    justify-content: center;

    flex: 2;
    font-size: 22px;
}




/* ========================= */
/* ========================= */
/* ========================= */
/* =========Contact========= */
/* ========================= */
/* ========================= */
/* ========================= */





/* ========================= */
/* ========================= */
/* ========================= */
/* ==========webHome======== */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */




/* WebDevHome .webHome */


.webDevSectionContainer {
    background-color: white;
    padding: 25px;

    background-size: cover;
    background-position: center;
}
.webDevSection {
    padding-top: 25px;
    padding-bottom: 25px;
}
.webDevSection > h1 {
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 1.25px;
    line-height: 40px;
    border-bottom: 1px solid blueviolet;
}
.webDevSection > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    letter-spacing: 1.25px;
    line-height: 30px;
}




.webDevBetweenSections1 {
    box-shadow: inset 0px 0px 20px 3px rgb(80, 80, 80);
    background-image: url(./images/be55770577d53fb0bac13f5eba5ea3d7.png);
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.webDevBetweenSections1_0 {
    background-color: black;
    background-size: 100%;
    transition: all 1.75s cubic-bezier(.44,-0.68,0,-0.44) 0s;
    
}
.webDevBetweenSections1_1 {
    background-color: white;
    background-size: 140%;
    transition: all 1.75s cubic-bezier(1,1.44,.44,1.68) 0s;
}





.webDevBetweenSections2 {
    box-shadow: inset 0px 0px 20px 3px rgb(80, 80, 80);
    height: 300px;
    background-color: rgb(0, 0, 0);
    background-image: url(./images/blue-circuit-png-2.png);
    background-size: auto 125%;
    background-repeat: no-repeat;
    background-position: 0% center;
}
.webDevBetweenSections2 > aside {
    background-color: blue;
    position: relative;
}



/* ========================= */
/* ========================= */
/* ========================= */
/* ==========webHome======== */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */





/* ========================= */
/* ========================= */
/* ========================= */
/* =======contentHome======= */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */






.slideShow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    background-image: url(./images/bb879760ec493ce47a745af03a90549e-2.jpg);
    background-size: cover;
    background-position: center 0%;
    box-shadow: inset 0px 0px 15px 5px black;
}
.slideShow > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideShow > div:last-child {
    position: absolute;
    width: 100%;
}
.slideShow > div > span {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    width: 33px;
    height: 33px;
    line-height: 34px;
    cursor: pointer;
}
.slideShow > div > span:first-child {
    margin-left: 10px;
}
.slideShow > div > span:last-child {
    margin-right: 10px;
    right: 0;
}
.slideShow > div > img {
    border-radius: 0px;
    width: 0px;
}

.largeCenter {
    box-shadow: 0px 5px 15px 2px black;
    cursor: zoom-in;
}
.tiltLeft {
    box-shadow: 5px 5px 7px 1px black;
    cursor: pointer;
}
.tiltRight {
    box-shadow: -5px 5px 7px 1px black;
    cursor: pointer;
}




.imageZoom {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: scroll;
}
.imageZoom > img {
    height: 95%;
    margin-left: auto;
    margin-right: auto;
}
.imageZoom > span {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    width: 34px;
    height: 34px;
    line-height: 37px;
    position: absolute;
    top: 0;
    margin: 20px;
}







.contentCreationSectionContainer {
    background-color: white;
    padding: 25px;
    background-size: cover;
}
.contentCreationSectionContainer > img {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.contentCreationSection {
    padding-top: 25px;
    padding-bottom: 25px;
}
.contentCreationSection > h1 {
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 1.25px;
    line-height: 40px;
    border-bottom: 1px solid tan;
}
.contentCreationSection > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    letter-spacing: 1.25px;
    line-height: 30px;
}
.contentCreationSection > ul {
    padding-left: 25px;
}
.contentCreationSection > ul > li {
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    letter-spacing: 1.25px;
    line-height: 30px;
}
.contentCreationSection > ul > li:last-child {
    padding-bottom: 0px;
}


/* ========================= */
/* ========================= */
/* ========================= */
/* =======contentHome======= */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */




/* ========================= */
/* ========================= */
/* ========================= */
/* =======holisticHome====== */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */



.holisticImageBreak {
    background-image: url(./images/Maroon_Bells_11553a.jpg);
    background-size: auto 240%;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 400px;
    box-shadow: inset 0px 0px 15px 5px black;
}





.holisticHealingSectionContainer {
    background-color: white;
    padding: 25px;
    background-size: cover;
}
.holisticHealingSectionContainer > img {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.holisticHealingSection {
    padding-top: 25px;
    padding-bottom: 25px;
}
.holisticHealingSection > h1 {
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 1.25px;
    line-height: 40px;
    border-bottom: 1px solid darkorange;
}
.holisticHealingSection > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    letter-spacing: 1.25px;
    line-height: 30px;
}
.holisticHealingSection > ul {
    padding-left: 25px;
}
.holisticHealingSection > ul > li {
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    letter-spacing: 1.25px;
    line-height: 30px;
}
.holisticHealingSection > ul > li > a {
    text-decoration: none;
}
.holisticHealingSection > ul > li > a:hover {
    text-decoration: underline;
}
.holisticHealingSection > ul > li:last-child {
    padding-bottom: 0px;
}



/* ========================= */
/* ========================= */
/* ========================= */
/* =======holisticHome====== */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */





/* ========================= */
/* ========================= */
/* ========================= */
/* ==========Header========= */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */



/* Header.js .header */
.header > div {
    display: flex;
    flex-direction: column;
    background-image: url(./images/3d-grid-png-image-20.png);
    background-position: center;
    background-size: 100%;
    height: 100%;
}
.header > div > div {
    width: 100%
}
.header > div > div > * {
    font-family: Rocket;
    font-weight: 900;
    font-size: 40px;
    line-height: 38px;
    color: white;
}
.header > div > aside {
    margin-left: auto;
    display: flex;
    padding-top: 5px;
    padding-bottom: 2px;
}
.header > div > aside > * {
    margin-right: 10px;
    color: white;
    line-height: 34px;
    font-size: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all .25s linear 0s;
    cursor: pointer;
}
.header > div > aside > *:hover {
    background-image: radial-gradient(white , transparent 80%);
    border-radius: 50%;
    color: black;
}
.header > div > div > span {
    font-size: 16px;
    line-height: 0px;
    margin-left: 70%;
}
.header > div > div > p:first-child {
    padding-top: 33px;
    margin-left: 5%;
}
.header > div > div > p:nth-child(2) {
    padding-top: 0px;
    margin-left: 15%;
}




/* ========================= */
/* ========================= */
/* ========================= */
/* ==========Header========= */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */




/* ========================= */
/* ========================= */
/* ========================= */
/* ==========Footer========= */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */


/* footer.js */
.footer {
    display: flex;
    flex-direction: column;
    
}
.footer > div {
    align-self: center;
}
.footer > div > p {
    text-align: center;
    color: white;
    font-size: 13px;
}
.footer > main {
    display: flex;
}
.footer > main > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footer > main > div:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.35);
}
.footer > main > div > a {
    font-size: 14px;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}


/* ========================= */
/* ========================= */
/* ========================= */
/* ==========Footer========= */
/* ========================= */
/* ========================= */
/* ========================= */
/* ========================= */






@media (min-width: 426px){
    /* home */
    .home > * {
        height: 375px;
    }
    .expanded {
        height: 425px;
    }
    .header > div {
        flex-direction: row;
    }
    .header > div > aside {
        flex-direction: column;
    }
    .header > div > div > p:first-child {
        padding-top: 49px;
        margin-left: 10%;
    }
    .header > div > div > p:nth-child(2) {
        margin-left: 25%;
    }
    .header > div > div > span {
        margin-left: 60%;
    }
    .header > div > aside > * {
        font-size: 35px;
        line-height: 34px;
        padding-top: 2px;
        padding-left: 4px;
        padding-right: 4px;
        /* padding-bottom: px; */
    }
    .header > div {
        background-size: 426px;
    }
    /* web dev */
    .webDevBetweenSections1_0 {
        background-size: 420px;
    }
    .webDevBetweenSections1_1 {
        background-size: 588px;
    }






    
}
@media (min-width: 768px){
    /* home */
    .home {
        flex-direction: row;
        height: 100%;
    }
    .home > * {
        flex: 1;
        overflow: hidden;
        margin-right: 1px;
        margin-bottom: 0px;
        height: 100%;
    }
    .home > *:last-child {
        margin-right: 0px;
    }
    .expanded {
        flex: 2;
    }
    .header > div {
        background-size: 768px;
    }
    .header > div > aside > * {
        font-size: 36px;
    }
    .header > div > div > p:nth-child(2) {
        margin-left: 20%;
    }
    .header > div > div > span {
        margin-left: 40%;
    }
    /* web dev */
    .webFlexMove {
        display: flex;
    }
    .webDevSectionContainer {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        height: 550px;
    }
    .webDevSectionContainer > * {
        margin-left: 25px;
        margin-right: 25px;
    }
    .webDevBetweenSections {
        height: 550px;
        flex: 1;
    }
    .webDevBetweenSections1 {
        height: 550px;
        flex: 1;
    }
    .webDevBetweenSections2 {
        height: 550px;
        flex: 1;
        background-position: -300px center;
    }





 
    .contentCreationSectionContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 550px;
    }
    .holisticHealingSectionContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 550px;
    }






    .contact > div {
        display: flex;
    }
    .contact > div > * {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (min-width: 1024px){
    /* web dev */
    .webFlexMove > main {
        background-size: auto 135%;
    }
    .webDevBetweenSections2 {
        background-position: -250px center;
    }
    /* content-creation */
    .slideShow > div > span:first-child {
        margin-left: 45px;
    }
    .slideShow > div > span:last-child {
        margin-right: 45px;
    }

}
@media (min-width: 1440px){
    
}